%tr
  %td= estimate.name
  %td= estimate.price.round
  %td= estimate.price_by_area.round
  %td= estimate.area.round(2)
  %td= estimate.updated_at.strftime('%Y-%m-%d')
  %td
    %button.btn.btn-default{ title: "Создать копию сметы", data: { toggle: "modal", target: "#duplicate-estimate-#{estimate.id}"} }
      %span.glyphicon.glyphicon-duplicate
    = link_to edit_estimate_path(estimate), title: 'Редактировать', class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
    = link_to estimate_path(estimate), method: :delete, title: 'Удалить', class: 'btn btn-danger', data: {confirm: 'Are you sure?'} do
      %span.glyphicon.glyphicon-trash
