%tr
  %td
    = estimate.name
  %td
    = estimate.price
  %td
    = estimate.price_by_area
  %td
    = estimate.area
  %td
    = estimate.updated_at
  %td
    %button.btn.btn-default{ 'data-toggle': "modal", 'data-target': "#duplicate", title: "Создать копию сметы" }
      %span.glyphicon.glyphicon-duplicate{ 'aria-hidden': true }
    = link_to edit_estimate_path(estimate), title: 'Редактировать', class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
    %a.btn.btn-danger{ href: "", 'data-toggle': "modal", 'data-target': "#delete-confirmation", title: "Удалить" }
      %span.glyphicon.glyphicon-trash{ 'aria-hidden': true }