%html
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag wicked_pdf_asset_base64("pdf")
  %body
    Объект:
    = @estimate.name
    %table
      %thead
        %th Наименование
        %th Ед. изм.
        - @data[:products].each do |product|
          %th
            = product
        %th Общее количество
      %tbody
        - @data[:result].each do |key, value|
          %tr
            %td
              = key
            %td
              = value[:unit]
            - @data[:products].each do |product|
              %td
                = value[product]
            %td
              =value[:all]