%h1 Список смет
%ol.breadcrumb.row
  %li= link_to 'Клиенты', clients_path
  %li.active= @client.full_name

.action-buttons.row
  = form_tag estimates_path(client_id: @client.id), :method => 'get' do
    = hidden_field_tag :client_id, @client.id
    .col-sm-8
      = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Наименование'
    .col-sm-1
      %button.btn.btn-default.col-sm-12 Поиск
    .col-sm-3
      = link_to 'Добавить смету', new_estimate_path(client_id: @client.id), class: 'btn btn-primary col-sm-12'

%br

- if @estimates.present?
  .row.main-content
    .table-responsive
      %table.table.table-hover.estimates-datatable
        %thead
          %th.col-sm-3 Наименование
          %th.col-sm-2 Общая стоимость
          %th.col-sm-2 Стоимость м2
          %th.col-sm-1 Площадь
          %th.col-sm-2 Дата изменения
          %th.col-sm-2 Действия
        %tbody
          - @estimates.each do |estimate|
            = render 'listing', estimate: estimate

  - @estimates.each do |estimate|
    .modal.fade{ id: "duplicate-estimate-#{estimate.id}" }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ type: "button", data: { dismiss: "modal" } }
              %span &times;
            %h4.modal-title#myModalLabel2 Создание копии
          .modal-body
            Введите новое имя для копии сметы
            %b= estimate.name
            .form-horizontal
              %p
              .form-group
                %label.col-sm-3.control-label Новое имя
                .col-sm-9
                  %input.form-control{ placeholder: "Введите новое имя" }
              .form-group
                %label.col-sm-3.control-label Клиент
                .col-sm-9
                  %select.form-control
                    - Client.where(archived: false).each do |client|
                      %option{ value: client.id }= client.full_name
          .modal-footer
            %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Отмена
            %button.btn.btn-success{ type: "button", data: { dismiss: "modal" } } Создать
