%h1 Список смет
%ol.breadcrumb.row
  %li= link_to 'Клиенты', clients_path
  %li.active= @client.full_name

.action-buttons.row
  = form_tag estimates_path(client_id: @client.id), :method => 'get' do
    = hidden_field_tag :client_id, @client.id
    .col-sm-8
      = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Наименование'
    .col-sm-1
      %button.btn.btn-default.col-sm-12 Поиск
    .col-sm-3
      = link_to 'Добавить смету', new_estimate_path(client_id: @client.id), class: 'btn btn-primary col-sm-12'

%br

- if @estimates.present?
  .row.main-content
    .table-responsive
      %table.table.table-hover#estimates-datatable
        %thead
          %th Наименование
          %th Общая стоимость
          %th Стоимость м2
          %th Площадь
          %th Дата изменения
          %th Действия
        %tbody
          - @estimates.each do |estimate|
            = render 'listing', estimate: estimate

  - @estimates.each do |estimate|
    .modal.fade{ id: "duplicate-estimate-#{estimate.id}" }
      .modal-dialog
        .modal-content
          = form_tag estimate_copy_path(estimate) do |f|
            .modal-header
              %button.close{ type: "button", data: { dismiss: "modal" } }
                %span &times;
              %h4.modal-title#myModalLabel2 Создание копии
            .modal-body
              Введите новое имя для копии сметы
              %b= estimate.name
              %p
              .form-horizontal
                .form-group
                  %label.col-sm-3.control-label Новое имя
                  .col-sm-9
                    = text_field_tag :name, nil, placeholder: 'Введите новое имя', class: 'form-control'
                .form-group
                  %label.col-sm-3.control-label Клиент
                  .col-sm-9
                    = select_tag :client_id, options_for_select(current_user.clients.all.map{ |u| [u.full_name, u.id] }, [estimate.client.full_name, estimate.client_id]), class: 'form-control'
            .modal-footer
              %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Отмена
              = submit_tag 'Создать', class: 'btn btn-success'
- else
  .row.main-content
    %p Нет данных для отображения
