%tr
  %td= composite.name
  %td= composite.unit.name
  %td= composite.category.name
  %td= format('%0.2f', composite.price || 0)
  %td
    = link_to edit_composite_path(composite), title: 'Редактировать', class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
    = link_to composite, method: :delete, title: 'Удалить', class: 'btn btn-danger', data: {confirm: 'Вы уверены?'} do
      %span.glyphicon.glyphicon-trash
