= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  .action-buttons.row
    = link_to 'Отмена', users_path, class: 'btn btn-default'
    = f.button :submit, 'Сохранить', class: 'btn btn-success pull-right'
  %br
  .row.main-content
    .form-horizontal.col-sm-offset-2.col-sm-8
      %br
      = f.input :first_name, label: 'Имя',     input_html: { placeholder: 'Введите имя' }
      = f.input :last_name,  label: 'Фамилия', input_html: { placeholder: 'Введите фамилию' }
      = f.input :role, label: 'Роль' do
        = f.select :role, UserRole.values, {}, class: 'form-control'
      = f.input :phone, label: 'Телефон',           input_html: { placeholder: 'Введите номер телефона' }
      = f.input :crm,   label: 'ID в CRM',          input_html: { placeholder: 'Введите id' }
      = f.input :email, label: 'Электронная почта', input_html: { placeholder: 'Введите адрес электронной почты' }
      = f.input :password, label: 'Новый пароль',   input_html: { placeholder: 'Введите пароль' }
      = f.input :password_confirmation, label: 'Повторите пароль', input_html: { placeholder: 'Введите пароль повторно' }
