%h1 Главная
%ol.breadcrumb.row
  %li.active Главная

- if @clients.present?
  %p
  %h4.stage Последние измененные клиенты
  .btn-group{"aria-label" => "", :role => "group"}
    - @clients.each do |client|
      = link_to client.full_name, edit_client_path(client), class: 'btn btn-default'

- if @estimates.present?
  %p
  .row.main-content
    .table-responsive
      %h4.stage Последние измененные сметы
      %table.table.table-hover
        %thead
          %tr
            %th.col-sm-4 Наименование
            %th.col-sm-4 Клиент
            %th.col-sm-2 Цена
            %th.col-sm-2 Дата
        %tbody
          - @estimates.each do |estimate|
            %tr
              %td
                = link_to estimate.name, edit_estimate_path(estimate)
              %td= estimate.client.full_name
              %td= estimate.price.round rescue 0
              %td= estimate.updated_at.strftime('%Y-%m-%d')
