%tr
  %td= primitive.name
  %td= primitive.unit.name
  %td
    %input.form-control.primitive-price{ value: with_presicion(primitive.price), name: 'primitive[price]', data: { id: primitive.id, price: primitive.price } }
  %td
    .btn-group
      %button{ data: {id: primitive.id, toggle: 'dropdown'}, class: 'primitive-actions', ng: { class: "ctrl.dateClass('#{primitive.date.strftime("%Y-%m-%d")}')" } }
        = l(primitive.date, format: "%d %b, %Y")
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Обновить дату', "#", class: 'update-price-link', data: { id: primitive.id }

  %td
    = link_to edit_primitive_path(primitive), title: 'Редактировать', class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
    = link_to primitive_path(primitive), method: :delete, title: 'Удалить', class: 'btn btn-danger', data: {confirm: 'Вы уверены?'} do
      %span.glyphicon.glyphicon-trash
