= simple_form_for @solution,  wrapper: :horizontal_form do |f|
  .action-buttons.row
    = link_to 'Отмена', solutions_path, class: 'btn btn-default'
    = f.button :submit, 'Сохранить', class: 'btn btn-success pull-right'
  %p
  .row.main-content
    %br
      .form-horizontal.col-sm-offset-2.col-sm-8
        %br
        = hidden_field_tag 'solution[price]', nil, 'ng-value' => 'estimate.price'
        = hidden_field_tag :json_stages, nil, id: 'estimate_json_stages'
        = f.input :name, label: 'Наименование',   placeholder: 'Введите наименование'
        = f.input :url,  label: 'Ссылка на сайт', placeholder: 'Введите ссылку на сайт'

        .form-group
          %label.col-sm-3.control-label Общая стоимость
          .col-sm-9
            %h5 {{ estimate.price.toFixed(2) }} руб. ({{ ctrl.getPriceByArea(estimate.price) }} руб. за м2)

        = f.input :area, label: 'Площадь', placeholder: 'Введите площадь', input_html: { 'ng-model' => 'estimate.area' }

        .form-group
          %label.col-sm-3.control-label Высота первого этажа*
          .col-sm-7
            = f.input :first_floor_height, label: false, placeholder: 'Введите высоту в мм'
          .col-sm-2
            %button.btn.btn-default{ type: "button", 'data-toggle': "collapse", 'data-target': "#floors", 'aria-expanded':false, 'aria-controls': "collapseExample", title: "Показать больше этажей"}
              Выше?
        .collapse#floors
          .well
            .form-group
              %label.col-sm-3.control-label Высота второго этажа
              .col-sm-1
                %h5.text-right от
              .col-sm-3
                = f.input :second_floor_height_min, label: false, placeholder: 'Введите высоту в мм', class: 'form-control'
              .col-sm-offset-1.col-sm-1
                %h5.text-right до
              .col-sm-3
                = f.input :second_floor_height_max, label: false, placeholder: 'Введите высоту в мм', class: 'form-control'
            .form-group
              %label.col-sm-3.control-label Высота третьего этажа
              .col-sm-1
                %h5.text-right от
              .col-sm-3
                = f.input :third_floor_height_min, label: false, placeholder: 'Введите высоту в мм', class: 'form-control'
              .col-sm-offset-1.col-sm-1
                %h5.text-right до
              .col-sm-3
                = f.input :third_floor_height_max, label: false, placeholder: 'Введите высоту в мм', class: 'form-control'
            %hr
        .form-group.client-files-div
          %label.col-sm-3.control-label Планы и фасады
          .col-sm-3
            = file_field_tag :data, as: :file, multiple: true, class: 'client-file'
          /  %button.col-sm-3.btn.btn-default.form-control{ type: 'button' }
          /    %input.choose{ type: 'file' }
          /    Выберите файл

          %div{ style: 'dislpay: none' }
            = link_to_add_association '', f, :client_files, id: 'create-file', 'data-association-insertion-method': 'append', 'data-association-insertion-node': '#client-files'

        .form-group
          %label.col-sm-3.control-label
          .col-sm-9#client-files
            = f.simple_fields_for :client_files do |client_file|
              = render 'client_file_fields', f: client_file

        %hr
        .form-group.technical-files-div
          %label.col-sm-3.control-label Тех. файлы
          .col-sm-3
            /%button.col-sm-3.btn.btn-default.form-control{ type: 'button' }
            /  %input.choose{ type: 'file' }
            /    Выберите файл
            = file_field_tag :data, as: :file, multiple: true, class: 'technical-file'

          %div{ style: 'dislpay: none' }
            = link_to_add_association '', f, :technical_files, id: 'create-technical-file', 'data-association-insertion-method': 'append', 'data-association-insertion-node': '#technical-files'


        .form-group
          %label.col-sm-3.control-label
          .col-sm-9#technical-files
            = f.simple_fields_for :technical_files do |technical_file|
              = render 'technical_file_fields', f: technical_file

        = render 'budgets/discount', f: f, model: 'solution', show: false

  %p
  = render 'budgets/stages', f: f, show: false

  #modal-engineer.modal.fade{ tabindex: -1, role: "dialog", 'aria-labelledby': "myLargeModalLabel" }
    .modal-dialog{ role: "document" }
      .modal-content
        .modal-header
          %button.close{ type: "button", 'data-dismiss': "modal", 'aria-label':"Close" }
            %span{ 'aria-hidden': true }
              &times;
          %h4.modal-title
            Выберите инженера
        .modal-body
          %form
            %ul.list-group
              %li.list-group-item
                .radio
                  %label
                    %input{ type: "radio", name: "optradio" }
                      {{engineer.lastName + " " + engineer.firstName}}
          .checkbox
            %label
              %input{ type: "checkbox" }
                Подписан договор
        .modal-footer
          %button.btn.btn-default{ type: "button", 'data-dismiss': "modal" }
            Отмена
          %button.btn.btn-success{ type: "button", 'data-dismiss': "modal" }
            Отправить

  .modal.fade.bs-example-modal-lg.image-preview{ tabindex: -1, role: "dialog", 'aria-labelledby': "myLargeModalLabel" }
    .modal-dialog.modal-lg{ role: "document" }
      .modal-content
        .modal-header
          %button.close{ type: "button", 'data-dismiss':"modal", 'aria-label': "Close" }
            %spa{ 'aria-hidden': true }
              &times;
          %h4.modal-title
            {{"Просмотр изображения: "
        .modal-body
          %img.img-rounded.img-responsive
