%tr
  %td= link_to solution.name, solution_path(solution)
  %td= solution.price
  %td= solution.price_by_area
  %td= solution.get_floor
  %td= solution.area
  %td{ data: { order: solution.updated_at.to_i } }= solution.updated_at
  %td{ style: 'min-width: 100px' }
    .btn-group
      = link_to solution_accept_path(solution), class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
      = link_to solution_path(solution), method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
