%tr
  %td= solution.name
  %td= solution.price.round
  %td= solution.price_by_area
  %td= solution.get_floor
  %td= solution.area
  %td{ data: { order: solution.updated_at.to_i } }= solution.updated_at.strftime('%Y-%m-%d')
  %td
    .btn-group
      %button.btn.btn-default.dropdown-toggle{ type: "button", data: { toggle: "dropdown" } }
        Действия
        %span.caret
      %ul.dropdown-menu
        - unless current_user.admin?
          %li= link_to 'Просмотреть', solution_path(solution)
        - if solution.url.present?
          %li= link_to 'Ссылка на сайт', "http://artsipsmeta.ru/" + solution.url, target: :blank
        %li
          %a{ data: { toggle: 'modal', target: "#create-estimate-#{solution.id}"} } Дублировать как смету
        %li= link_to 'Скачать в .pdf', solution_export_pdf_path(solution.id), target: '_blank'
        - if current_user.admin?
          %li.divider
          %li= link_to 'Редактировать', edit_solution_path(solution)
          %li= link_to 'Удалить', solution_path(solution), method: :delete, data: {confirm: 'Вы уверены?'}
