%html
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag wicked_pdf_asset_base64("pdf")
  %body.pdf-regular
    .row
      .col-xs-4.text-right{ style: 'padding-top: 43px;' }
        %p.no-margin РФ, Республика Крым
        %p.no-margin г. Симферополь
        %p.no-margin ул. Петропавловская, дом 3
        %p.no-margin ТДЦ "Октябрьский", офис 411/412
      .col-xs-4= wicked_pdf_image_tag 'full-logo.png', class: 'center-block img-responsive'
      .col-xs-4.text-left{ style: 'padding-top: 43px;' }
        %p.no-margin www.artsipstroi.com
        %p.no-margin www.artkarkas.ru
        %p.no-margin= current_user.email
        %p.no-margin= current_user.phone

    %br
    %br

    .row
      %div{ style: 'background: #bc5f1e; height: 1px; width: 100%'}
      .col-xs-12.text-center
        %span.line-text.pdf-bold дома из СИП-панелей

    .row
      .col-xs-8.col-xs-offset-2
        %h3.text-center.pdf-header Расчет стоимости строительства энергосберегающего жилого дома

    %br

    .row
      .col-xs-6
        %p.no-margin Высота потолка первого этажа: #{@solution[:first_floor_height]} м
        - if @solution[:second_floor_height_min] > 0 && @solution[:second_floor_height_max] > 0
          - if @solution[:second_floor_height_min] == @solution[:second_floor_height_max]
            %p.no-margin Высота потолка второго этажа: #{@solution[:second_floor_height_min]} м
          - else
            %p.no-margin Высота потолка второго этажа: от #{@solution[:second_floor_height_min]} м до #{@solution[:second_floor_height_max]} м
        - if @solution[:third_floor_height_min] > 0 && @solution[:third_floor_height_max] > 0
          - if @solution[:third_floor_height_min] == @solution[:third_floor_height_max]
            %p.no-margin Высота потолка третьего этажа: #{@solution[:third_floor_height_min]} м
          - else
            %p.no-margin Высота потолка третьего этажа: от #{@solution[:third_floor_height_min]} м до #{@solution[:third_floor_height_max]} м
        %p.no-margin Площадь строительства: #{@solution[:area]} м2
      .col-xs-4.col-xs-offset-2
        %p.no-margin Проект: #{@solution[:project]}
        %p.no-margin Дата расчета: #{l(Time.new, format: '%d %b %Y г.')}

    - @solution[:stages].each do |stage|
      - unless stage[:products].empty?
        %section.stage-pdf
          .row
            .col-xs-12.text-center
              %h4.brown-text.pdf-subheader{ style: 'margin-bottom: 2px'} #{Stage::NUMBER[stage[:number] - 1]} этап
              %h4.pdf-subheader{ style: 'margin-top: 2px' }= Stage::NAME[stage[:number] - 1]
          .row
            .col-xs-8
              %span Наименование выполняемых работ и материалов
            .col-xs-4
              %span Стоимость, рублей
          %hr{ style: 'margin: 5px 0' }

          - stage[:products].each do |product|
            .row
              .col-xs-8
                %p.no-margin
                  %strong= product[:name] + (product[:custom] ? " | #{product[:set_name]}" : (product[:display_components] ? ", #{product[:quantity].to_s} #{product[:unit]}" : ""))
                  - if product[:custom] && product[:display_components]
                    - product[:items].each do |item|
                      - if item[:quantity] > 0
                        %p.no-margin= "- #{item[:name]} - #{with_presicion(item[:quantity])} #{item[:unit]}"
                %p.no-margin= product[:description] + (product[:with_work] ? ", монтаж" : ", без монтажа")
              .col-xs-4
                %p.no-margin
                  %strong= money(product[:price_result] * product[:quantity])
            %hr{ style: 'margin: 5px 0' }

          .row
            .col-xs-6.text-right
              %strong= "Итого #{stage[:current_text]}:"
            .col-xs-6
              %strong= "#{money(stage[:price])} руб. (~ #{money(@solution[:price_by_area_per_stage][stage[:number]-1])} руб. за м2)"

            - if @solution[:discount_amount][stage[:number]-1] > 0
              .col-xs-6.text-right.red-text
                %strong #{@solution[:discount_title]} #{stage[:discount_text]}:
              .col-xs-6.red-text
                %strong= "-#{money(@estimate[:discount_amount][stage[:number]-1])} руб."

              .col-xs-6.text-right
                %strong Итого #{stage[:all_text]}:
              .col-xs-6
                %strong= "#{money(stage[:price_with_discount])} руб. (~ #{money(@estimate[:price_by_area_per_stage_discounted][stage[:number]-1])} руб. за м2)"

    %br

    .row
      .col-xs-12
        %p Доставка по всему Крыму – бесплатно. Гарантия на дом — 10 лет. Срок эксплуатации – не менее 70 лет. Только сертифицированные и качественные строительные материалы.

    - if @solution[:area] > 99
      .row
        .col-xs-12
          %p Черновая рабочая лестница из сосны камерной сушки В ПОДАРОК!
