%h1 Готовые решения
%ol.breadcrumb.row
  %li.active= link_to 'Готовые решения', solutions_path

.action-buttons.row
  = form_tag solutions_path, :method => 'get' do
    .col-sm-8
      = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Наименование'
    .col-sm-1
      %button.btn.btn-default.col-sm-12 Поиск
    .col-sm-3
      = link_to 'Добавить готовое решение', new_solution_path, class: 'btn btn-primary col-sm-12'

%br

- if @solutions.accepted.present?
  .row.main-content
    .table-responsive
      %table.table.table-hover#solutions-datatable
        %thead
          %th.col-sm-3 Наименование
          %th.col-sm-2 Общая стоимость
          %th.col-sm-2 Стоимость м2
          %th.col-sm-1 Этажность
          %th.col-sm-1 Площадь
          %th.col-sm-2 Дата изменения
          %th.col-sm-1
        %tbody
          - @solutions.accepted.each do |solution|
            = render 'listing', solution: solution

  - @solutions.accepted.each do |solution|
    .modal.fade{ id: "create-estimate-#{solution.id}" }
      .modal-dialog
        .modal-content
          = form_tag solution_copy_path(solution), id: "create-estimate-form-#{solution.id}" do |f|
            .modal-header
              %button.close{ type: "button", data: { dismiss: "modal" } }
                %span &times;
              %h4.modal-title#myModalLabel2 Создание сметы из готового решения
            .modal-body
              Введите наменование для сметы и выберите клиента
              %p
              .form-horizontal
                .form-group
                  %label.col-sm-3.control-label Новое имя
                  .col-sm-9
                    = text_field_tag :name, nil, placeholder: 'Введите новое имя', class: 'form-control'
                .form-group
                  %label.col-sm-3.control-label Клиент
                  .col-sm-9
                    = select_tag :client_id, options_for_select(current_user.clients.all.map{ |u| [u.full_name, u.id] }), class: 'form-control'
            .modal-footer
              %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Отмена
              %button.btn.btn-success.create-estimate-solution{ data: { solution_id: solution.id } } Создать

%br

- if @solutions.proposed.present? && current_user.admin?
  .row.main-content
    .table-responsive
      %h4.stage Предложенные готовые решения
      %table.table.table-hover#solutions-datatable
        %thead
          %th.col-sm-3 Наименование
          %th.col-sm-2 Общая стоимость
          %th.col-sm-2 Стоимость м2
          %th.col-sm-1 Этажность
          %th.col-sm-1 Площадь
          %th.col-sm-2 Дата изменения
          %th.col-sm-1
        %tbody
          - @solutions.proposed.each do |solution|
            = render 'listing_proposed', solution: solution
