%section{ ng: { controller: 'EstimateController' } }
  %h1 Просмотр готового решения
  %ol.breadcrumb.row
    %li= link_to 'Готовые решения', solutions_path
    %li.active= @solution.name

  = simple_form_for @solution,  wrapper: :horizontal_form do |f|
    .action-buttons.row
      = link_to 'Отмена', solutions_path, class: 'btn btn-default'
    %p
    .row.main-content
      %br
        .form-horizontal.col-sm-offset-2.col-sm-8
          %br
          = hidden_field_tag 'solution[price]', nil, 'ng-value' => 'estimate.price'
          = hidden_field_tag :json_stages, nil, id: 'estimate_json_stages'
          .form-group
            %label.col-sm-3.control-label Наименование
            .col-sm-9
              %h5= @solution.name

          .form-group
            %label.col-sm-3.control-label Ссылка на сайт
            .col-sm-9
              %h5
                - if @solution.url.present?
                  = link_to @solution.url, "http://artsipsmeta.ru/" + @solution.url, target: :blank

          .form-group
            %label.col-sm-3.control-label Общая стоимость
            .col-sm-9
              %h5 {{ estimate.price.toFixed(2) }} руб. ({{ ctrl.getPriceByArea(estimate.price) }} руб. за м2)

          - if @solution.proposer_id.present?
            .form-group
              %label.col-sm-3.control-label Предложение от
              .col-sm-9
                %h5= @solution.proposer.full_name

          .form-group
            %label.col-sm-3.control-label Площадь
            .col-sm-9
              %h5= @solution.area

          .form-group
            %label.col-sm-3.control-label Высота первого этажа*
            .col-sm-7
              %h5= @solution.first_floor_height

          - if @solution.second_floor_height_min > 0
            .form-group
              %label.col-sm-3.control-label Высота второго этажа
              .col-sm-1
                %h5.text-right от
              .col-sm-3
                %h5= @solution.second_floor_height_min
              .col-sm-offset-1.col-sm-1
                %h5.text-right до
              .col-sm-3
                %h5= @solution.second_floor_height_max

          - if @solution.third_floor_height_min > 0
            .form-group
              %label.col-sm-3.control-label Высота третьего этажа
              .col-sm-1
                %h5.text-right от
              .col-sm-3
                %h5= @solution.third_floor_height_min
              .col-sm-offset-1.col-sm-1
                %h5.text-right до
              .col-sm-3
                %h5= @solution.third_floor_height_max

          - if @solution.client_files.present?
            .form-group.client-files-div
              %label.col-sm-3.control-label Планы и фасады
              .col-sm-9#client-files
                = f.simple_fields_for :client_files do |client_file|
                  = render 'client_file_fields', f: client_file

          %hr

          - if @solution.technical_files.present?

            .form-group.technical-files-div
              %label.col-sm-3.control-label Тех. файлы
              .col-sm-9#technical-files
                = f.simple_fields_for :technical_files do |technical_file|
                  = render 'technical_file_fields', f: technical_file


          - unless @solution.discount_title.blank?
            = render 'budgets/discount', f: f, model: 'solution', show: true

    %p
    = render 'budgets/stages', f: f, show: true
