= render 'header_reports'

%h4.stage
  Популярность площади
%br

.row#area-popularity
  .form-horizontal.row
    = form_tag reports_area_popularity_path, :method => 'get' do
      .col-sm-4
        %label.col-sm-4.control-label
          Период от
        .col-sm-8
          = text_field_tag :date_start, Date.today
      .col-sm-3
        %label.col-sm-2.control-label
          до
        .col-sm-10
          = text_field_tag :date_end, Date.today
      .col-sm-1
        %button.btn.btn-default.col-sm-12
          Поиск
  %br
  .table-responsive.main-content
    %table.table.table-hover
      %thead
        %tr
          %th.col-sm-9
            Площадь
          %th.col-sm-3
            Количество использований
      %tbody
        - @report.each do |area, percent|
          %tr
            %td
              = area
            %td
              = percent.to_s + "%"
