= render 'header_reports'

%h4.stage Эффективность сотрудников
%br

.row
  .form-horizontal.row
    = form_tag reports_estimate_conversion_path, :method => 'get' do
      .col-sm-4
        %label.col-sm-4.control-label Период от
        .col-sm-8= text_field_tag :date_start, params[:date_start], type: 'date', class: 'form-control'
      .col-sm-3
        %label.col-sm-2.control-label до
        .col-sm-10= text_field_tag :date_end, params[:date_end], type: 'date', class: 'form-control'
      .col-sm-1
        %button.btn.btn-default.col-sm-12 Поиск
  %br
  .table-responsive.main-content
    %table.table.table-hover#estimate-conversion
      %thead
        %tr
          %th.col-sm-2 Пользователь
          %th.col-sm-2 Смет посчитано
          %th.col-sm-2 Смет подписано
          %th.col-sm-2 Конверсия
          %th.col-sm-2 Суммарный профит
          %th.col-sm-2 Профит в месяц
      %tbody
        - @report.each do |row|
          %tr
            %td= row[:user_name]
            %td= row[:estimates_all]
            %td= row[:estimates_signed]
            %td= "1 / #{row[:conversion]}"
            %td= row[:profit]
            %td= row[:profit_month]

