= render 'header_reports'

%h4.stageРасход материалов в месяц
%br

.row
  .form-horizontal.row
    = form_tag reports_material_consumption_path, :method => 'get' do
      .col-sm-2= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Наименование'
      .col-sm-2= select_tag 'category', options_for_select(Category.where(product: false).collect{|x| [x.name, x.id]}), include_blank: true, class: 'form-control'
      .col-sm-1
        %button.btn.btn-default.col-sm-12 Поиск
      .col-sm-4
        %label.col-sm-4.control-label Период от
        .col-sm-8= text_field_tag :date_start, Date.today, type: 'date', class: 'form-control'
      .col-sm-3
        %label.col-sm-2.control-label до
        .col-sm-10= text_field_tag :date_end, Date.today, type: 'date', class: 'form-control'
  %br
  .table-responsive.main-content
    %table.table.table-hover#material-consumption
      %thead
        %tr
          %th.col-sm-6 Материал
          %th.col-sm-2 Единицы измерения
          %th.col-sm-2 Средний расход
          %th.col-sm-2 Общий расход
      %tbody
        - @primitivies.each do |primitive|
          %tr
            %td= primitive.name
            %td= primitive.unit.name
            %td= ReportPrimitive.by_constructor_object(primitive.id).sum(:amount)
            %td= ReportPrimitive.by_constructor_object(primitive.id).sum(:amount)
