%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar-collapse' } }
        %span.sr-only Toggle nabigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo.png', class: 'logo', alt: 'brand'

    - if user_signed_in?
      .collapse.navbar-collapse#navbar-collapse
        %ul.nav.navbar-nav
          - if current_user.admin?
            %li
              %a.dropdown-toggle{ href: '#', role: 'button', data: {toggle: 'dropdown'}}
                Администрирование
                %span.caret
              %ul.dropdown-menu
                - if can? :manage, Primitive
                  %li= link_to 'Примитивы', primitives_path
                - if can? :manage, Composite
                  %li= link_to 'Объекты', composites_path
                - if can? :manage, Product
                  %li= link_to 'Сметные продукты', products_path
                %li.divider{ role: 'separator' }
                - if can? :manage, Category
                  %li= link_to 'Категории', categories_path
                - if can? :manage, Unit
                  %li= link_to 'Единицы измерения', units_path
                - if can? :manage, Expense
                  %li= link_to 'Административные расходы', expenses_path
                %li.divider{ role: 'separator' }
                - if can? :manage, User
                  %li= link_to 'Пользователи', users_path
                - if can? :manage, Audit
                  %li= link_to 'История изменений', audits_path
                %li= link_to 'Отчеты', reports_path

          %li= link_to 'Клиенты', clients_path
          %li= link_to 'Готовые решения', solutions_path

          = link_to 'Создать смету', new_estimate_path(client_id: params[:client_id]), class: 'btn btn-primary navbar-btn'

        %ul.nav.navbar-nav.navbar-right
          %li= link_to current_user.full_name, edit_user_path(current_user)
          %li= link_to 'Выйти', destroy_user_session_path, method: :delete
