!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Конструктор сметы - Арт СИП Строй
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    = Gon::Base.render_data

    %toaster-container
    %div{ ng: { controller: 'FlashController' }, data: { notice: notice, alert: alert } }

    .container
      = yield
